# Appwrite Configuration
VITE_AW_URL_ENDPOINT=https://your-appwrite-endpoint.com/v1
VITE_AW_PROJECT_ID=your-project-id
VITE_AW_DATABASE_ID=your-database-id
VITE_AW_COLLECTION01_ID=your-collection-01-id
VITE_AW_COLLECTION02_ID=your-collection-02-id
VITE_AW_COLLECTION03_ID=your-collection-03-id
VITE_AW_BUCKET01_ID=your-bucket-01-id
VITE_AW_BUCKET02_ID=your-bucket-02-id
