.about-container {
  display: flex;
  width: 43.75rem;
  min-width: 31.25rem;
  max-width: 43.75rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  min-height: calc(100vh - 5rem);
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.625rem;
  align-self: stretch;
}

.title-heading {
  color: var(--Black-10);
  font-family: Inter;
  font-size: 6.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.title-slogan {
  align-self: stretch;
  color: var(--Key-Color);
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.description-main {
  align-self: stretch;
  color: var(--Black-10);
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.description-callout {
  color: var(--Key-Color);
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
