.navbar {
  display: flex;
  justify-content: flex-end;
  gap: 1.25rem;
  align-self: stretch;
  background-color: var(--Background-Color);
  flex-direction: row;
  padding: 0.25rem;

  position: sticky; /* Keep it at the top */
  top: 0; /* Position it at the very top */
  left: 0; /* Start it from the left edge */
  right: 0; /* Extend to the right edge */
  z-index: 1000; /* Ensure it stays above other content */
}

.link-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  color: var(--Black-10);
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  height: 1.5625rem;
}

.link-line {
  width: 3.25rem;
  height: 0.0625rem;
  background: var(--Key-Color);
}

.link-icon {
  width: 1.5625rem;
  height: 1.5625rem;
}

.navbar-links {
  gap: 1.25rem;
  display: flex;
}

.navbar-links.expanded {
  flex-direction: row;
}

.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #283b8b;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  transform: translateY(-50%);
  display: none;
}

.hamburger:hover {
  background-color: #2642af;
}

@media screen and (max-width: 700px) {
  .hamburger {
    display: block;
  }
}
