.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.25rem;
  align-self: stretch;
}

.link-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  color: var(--Black-10);
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.link-line {
  width: 3.25rem;
  height: 0.0625rem;
  background: var(--Key-Color);
}

.link-icon {
  width: 1.5625rem;
  height: 1.5625rem;
}
