.project-container {
  display: flex;
  padding: 0.625rem;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;
}

.project-icon {
  width: 5rem;
  height: 5rem;
  fill: var(--Black-90);
}

.project-text {
  color: var(--Black-10);
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.1875rem; /* 194.444% */
}

.project-note {
  color: var(--Black-10);
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.1875rem;
}

.spacer {
  flex: 1 0 0;
  align-self: stretch;
}
