body {
  display: flex;
  width: 94.5rem;
  height: 125rem;
  padding: 0rem 18.1875rem;
  flex-direction: column;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
